<h1>Listing porhacers</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Hecho</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @porhacers.each do |porhacer| %>
      <tr>
        <td><%= porhacer.titulo %></td>
        <td><%= porhacer.hecho %></td>
        <td><%= link_to 'Show', porhacer %></td>
        <td><%= link_to 'Edit', edit_porhacer_path(porhacer) %></td>
        <td><%= link_to 'Destroy', porhacer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Porhacer', new_porhacer_path %>
