<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @porhacer.titulo %>
</p>

<p>
  <strong>Hecho:</strong>
  <%= @porhacer.hecho %>
</p>

<%= link_to 'Edit', edit_porhacer_path(@porhacer) %> |
<%= link_to 'Back', porhacers_path %>
